/* navbar */
.navbar-layout
{
    display:flex;
    flex-direction: row;
    width:100%;
    height:auto;
    justify-content:center;
    box-shadow: 0px 2px 2px 0px #cecece;
    position: sticky;
}
.navbar{
    display: flex;
    flex-direction: row;
    width:80%;
    height:100%;
    justify-content: space-between;
}
.logo
{
  display: flex;
  width: 12%;
  height: 100%;
  align-items: center;
  color: black;
  cursor: pointer;
}
.logo img{
    height:30%;
}
.nav-items ul
{
    display: flex;
    flex-direction: row;
    width: 65%;
    align-items: center;
    height: 100%;
    color: black;
    justify-content: space-around;
    list-style: none;
   
}
.nav-items ul li
{
    display: flex;
    align-items: center;
    height: 100%;
    color: black;
    margin:0rem 1.5rem 1.7rem 0rem;  
}
.text {
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
@media (max-width:496px) {
    /* .logo img{
        width:15%;
    }; */
    .nav-items ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:auto;
    }
    .navbar
    {
        align-items: center;
        flex-direction: column;
        width: 100%;
		margin: 0 auto;
        height:auto;
    } 
}
/* hero section */
.hero-wrapper
{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
.hero-container
{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}

.left-container
{
  display: flex;
  flex-basis: 60%;
  height: auto;
  flex-direction: column;
  justify-content: center;
}
.left-container h1
{
    font-size: 2.5rem;
    font-weight: 700;
}
.left-container span
{
    color: #1a08e7;
}
.description
{
    margin-top: 0px;
    padding: 0 10% 0 0;
}
.left-container button{
    display: flex;
  width: 160px;
  height: 45px;
  background: linear-gradient(  91.1deg,  #2613ff -25.2%, rgba(5, 0, 52, 0) 356.46%);
  border: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-top: 7%;
  cursor: pointer;
}
.learners
{
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}
.learners p{
    font-weight: 600;
}
.button-section
{
    display: flex;
    width: 80%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px #cecce3;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}
.button-section ul
{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
.button-section ul li
{
    margin:0rem 1rem 0rem 0rem; 
}
.button-section img{
    height:20px;
    width:20px;
    border-radius: 20%;
}
.right-container
{
    display: flex;
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
}
.right-container img{
    height:70%;
}
@media only screen and (max-width: 496px) {
    .hero-wrapper{
        height: auto;
        flex-direction: column;
        /* height:130vh; */
        }
    .hero-container
    {
        flex-direction: column;
    }
    .left-container{
        padding: 10% 0 10% 0;
    }
    .right-container img {
            width: 90%;
            margin-top: 5%;
    }
    .button-section{
        width: 100%;
    }
}